@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}



.logout-container {
  animation: fadeIn 1s ease-in-out;
}
