.shaking-icon {
 color: rgb(26, 26, 25);
 animation: shake-vertical 0.5s infinite;  
}
@keyframes shake-vertical {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
  75% {
    transform: translateY(-3px);
  }
}