/* Leaflet.css */
.leaflet-main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  scrollbar-width: none;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}


.travelmode {
  position: absolute;
  top: 20px;
 margin-left: 90%;
  z-index: 1000;
  cursor: pointer;
}

.maptype {
  position: absolute;
  top: 60px;
 margin-left: 87%;
  z-index: 1000;
 cursor: pointer;
}

 select option {
 width: 100%;
  background-color: white;
  color: black;
}

/* Hover effect for options */
 select option:hover {
  background-color: #f0f0f0;
}




.custom-popup {
  background-color: #ffffff;
  border: 2px solid #007bff;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.leaflet-left {
  left: 1480px;
}

.leaflet-top {
  top: -8px;
}


@media (max-width: 700px) {
  .travelmode select{
   margin-left: -44px;
  }
 .travelmode select option{
  visibility: collapse;
 }
  .maptype {
    right: 5px;
   top: 100px;
  }
  
  .custom-select select:focus {
    position: relative;
    z-index: 1001;
  }
 
}

.leaflet-main::-webkit-scrollbar {
  display: none;
}

@media (max-width: 550px) {
  .leaflet-left {
    left: 10px;
  }

  .leaflet-top {
    top: 10px;
  }
}

@media (max-width: 450px) {
  .leaflet-left {
    left: 5px;
  }

  .leaflet-top {
    top: 5px;
  }
}
.custom-select, .custom-select select {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}